<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
    <% for(var i=0; i < results.length; i++) { %>
    <div>
        <div><%= JSON.stringify(results[i]) %></div>
    </div>
    <% } %>
    
   
</body>

</html>